<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>photogallery</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body id="gallerypage">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/works">Works</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="section-gallery">
      <figure class="figure">
        <img
          src="/images/Broadway Boogie Woogie, 1943 – óleo sobre tela.jpg"
          class="figure-img img-fluid rounded"
          alt="Broadway Boogie Woogie, 1943"
        />
        <figcaption class="figure-caption text-end">
          Broadway Boogie Woogie, 1943
        </figcaption>
      </figure>

      <figure class="figure">
        <img
          src="/images/Composition with Oval in Color Planes II, 1914 – óleo sobre tela.jpg"
          class="figure-img img-fluid rounded"
          alt="Composition with Oval in Color Planes II, 1914 - óleo sobre tela"
        />
        <figcaption class="figure-caption text-end">
          Composition with Oval in Color Planes II, 1914
        </figcaption>
      </figure>

      <figure class="figure">
        <img
          src="/images/Composition with Red, Blue and Yellow 1930.jpg"
          class="figure-img img-fluid rounded"
          alt="Composition with Red, Blue and Yellow 1930"
        />
        <figcaption class="figure-caption text-end">
          Composition with Red, Blue and Yellow, 1930
        </figcaption>
      </figure>

      <figure class="figure">
        <img
          src="/images/Evening, Red Tree, 1908–10 – óleo sobre tela.jpg"
          class="figure-img img-fluid rounded"
          alt="Evening, Red Tree, 1908-10 - óleo sobre tela"
        />
        <figcaption class="figure-caption text-end">
          Evening, Red Tree, 1908-10
        </figcaption>
      </figure>

      <figure class="figure">
        <img
          src="/images/Lozenge Composition with Red, Gray, Blue, Yellow, and Black, 1925.jpg"
          class="figure-img img-fluid rounded"
          alt="Lozenge Composition with Red, Gray, Blue, Yellow, and Black, 1925"
        />
        <figcaption class="figure-caption text-end">
          Lozenge Composition with Red, Gray, Blue, Yellow, and Black, 1925
        </figcaption>
      </figure>

      <figure class="figure">
        <img
          src="/images/Mondrian dresses by Yves Saint Laurent shown with a Mondrian painting in 1966.jpg"
          class="figure-img img-fluid rounded"
          alt="Mondrian dresses by Yves Saint Laurent 1966"
        />
        <figcaption class="figure-caption text-end">
          Mondrian dresses by Yves Saint Laurent, 1966
        </figcaption>
      </figure>

      <figure class="figure">
        <img
          src="/images/Mondrian Vestidos Mondrian por Yves Saint Laurent, 1965.jpg"
          class="figure-img img-fluid rounded"
          alt="Vestidos Mondrian por Yves Saint Laurent, 1965"
        />
        <figcaption class="figure-caption text-end">
          Mondrian dresses by Yves Saint Laurent, 1965
        </figcaption>
      </figure>

      <figure class="figure">
        <img
          src="/images/Tableau I, 1921 – óleo sobre tela.jpg"
          class="figure-img img-fluid rounded"
          alt="Tableau I, 1921"
        />
        <figcaption class="figure-caption text-end">Tableau I, 1921</figcaption>
      </figure>

      <figure class="figure">
        <img
          src="/images/Piet Mondrian em seu atelier 1944.jpg"
          class="figure-img img-fluid rounded"
          alt="Piet Mondrian, 1944"
        />
        <figcaption class="figure-caption text-end">
          Piet Mondrian, 1944
        </figcaption>
      </figure>

      <figure class="figure">
        <img
          src="/images/photo2.jpg"
          class="figure-img img-fluid rounded"
          alt="Piet Mondrian"
          width="500px"
        />
        <figcaption class="figure-caption text-end">Piet Mondrian</figcaption>
      </figure>
    </section>
  </body>
</html>
