/* Homepage */
#homepage {
  background-image: url("/images/1824880.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#section-home {
  height: 800px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 50px 50px 0;
}

/* About page */
#aboutpage {
  background-image: url("/images/about_background.png");
  background-repeat: repeat-x;
  background-size: 48%;
  background-color: lightgrey;
}

#section-about {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.funfacts {
  padding: 5px;
  font-size: 20px;
  color: black;
}

#portrait {
  border: rgba(255, 160, 122, 0.37) solid 5px;
  margin-bottom: 18px;
}

/* Gallery page */
#section-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top: 10px;
  font-size: 16px;
}

.figure {
  margin: 50px;
  background-color: whitesmoke;
  border: rgba(238, 238, 238, 0.26) solid 3px;
}

#gallerypage {
  background-color: lightgrey;
  background-image: url("/images/about_background.png");
  background-repeat: repeat-x;
  background-size: 48%;
}
